<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Phore Staking Calculator</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/css/uikit.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit-icons.min.js"></script>
    <style>
        html {
            background-color: #f9f9f9;
        }
        #app{
            padding:1em;
            font-family: 'Varela Round', sans-serif;
        }
        .info {
            font-size: 12px;
        }
        .green {
            color: #006600;
        }
        .uk-form-label{
            font-weight: 600;
        }
    </style>
	<script>
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var myObj = JSON.parse(this.responseText);						
				<!-- for(var j = 0; j < myObj.curium.length; j++){ -->
				document.getElementById('totalStaking').value = myObj.data[0][0];
			}
		};
		xmlhttp.open("GET", "num.json", true);
		xmlhttp.send();	
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var myObj = JSON.parse(this.responseText);						
				<!-- for(var j = 0; j < myObj.curium.length; j++){ -->
				document.getElementById('totalStaking').innerHTML = myObj.data[0][0];
			}
		};
		xmlhttp.open("GET", "num.json", true);
		xmlhttp.send();			
		
	</script>
</head>
<body>
<div id="app">
    <form class="uk-form-horizontal uk-margin-small">
        <div class="uk-margin-small">
            <label class="uk-form-label" for="stakingAmount">Staking Amount</label>
            <div class="uk-form-controls">
                <input type="number" class="uk-input uk-form-width-medium" id="stakingAmount" v-model="stakingAmount">
            </div><div id="json-data-3-20"></div>
            <span class="info">You'll have to stake this amount 24/7 for the estimation to be correct</span>
        </div>
        <div class="uk-margin-small">
            <label class="uk-form-label" for="totalStaking">Total Staking Coins</label>
            <div class="uk-form-controls">
                <input type="number" class="uk-input uk-form-width-medium" id="totalStaking" v-model="totalStaking">
            </div>
            <span class="info"><a class="info" href="https://chainz.cryptoid.info/phr/#!extraction" target="_blank">Find here</a> - red & blue pie</span>
        </div>
        <div class="uk-margin-small">
            <label class="uk-form-label" for="lockedIn">Coins Locked in Masternodes</label>
            <div class="uk-form-controls">
                <input type="number" class="uk-input uk-form-width-medium" id="lockedIn" v-model="lockedIn">
            </div>
            <span class="info"><a class="info" href="https://masternodes.online/currencies/PHR/" target="_blank">Find here </a> - "coins locked"</span>
        </div>
        <div class="uk-margin-small">
            <label class="uk-form-label" for="blockRewards">Current Block Rewards (PHR)</label>
            <div class="uk-form-controls">
                <input type="number" class="uk-input uk-form-width-medium" id="blockRewards"
                       v-model="blockRewards">
            </div>
            <span class="info"><a href="https://github.com/phoreproject/Phore" target="_blank">Find here</a> - scroll down</span>
        </div>

        <div class="uk-margin-small">
            <label class="uk-form-label" for="dailyGains">Daily PHR Gained</label>
            <div class="uk-form-controls">
                <input type="number" class="uk-input uk-form-width-medium" id="dailyGains" v-model="dailyGains" disabled>
            </div>
        </div>
        <div class="uk-margin-small">
            <label class="uk-form-label" for="weeklyGains">Weekly PHR Gained</label>
            <div class="uk-form-controls">
                <input type="number" class="uk-input uk-form-width-medium" id="weeklyGains" v-model="weeklyGains" disabled>
            </div>
        </div>
        <div class="uk-margin-small">
            <label class="uk-form-label" for="monthlyGains">Monthly PHR Gained</label>
            <div class="uk-form-controls">
                <input type="number" class="uk-input uk-form-width-medium" id="monthlyGains" v-model="monthlyGains" disabled>
            </div>
        </div>
        <div class="uk-margin-small">
            <label class="uk-form-label" for="yearlyGains">Yearly PHR Gained</label>
            <div class="uk-form-controls">
                <input type="number" class="uk-input uk-form-width-medium" id="yearlyGains"
                       v-model="yearlyGains" disabled>
            </div>
        </div>
        <div class="uk-margin-small">
            <label class="uk-form-label green" for="roi">Return on Investment</label>
            <div class="uk-form-controls">
                <input type="text" class="uk-input uk-form-width-medium" id="roi"
                       v-model="roi" disabled>
            </div>
        </div>

    </form>
</div>
</body>
<script type="application/javascript">

		xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var myObj = JSON.parse(this.responseText);						
				<!-- for(var j = 0; j < myObj.curium.length; j++){ -->
				totalStaking = myObj.data[0][0];
			}
		};
		xmlhttp.open("GET", "num.json", true);
		xmlhttp.send();	
    var app = new Vue({
        el: '#app',
		xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var myObj = JSON.parse(this.responseText);						
				<!-- for(var j = 0; j < myObj.curium.length; j++){ -->
				totalStaking = myObj.data[0][0];
			}
		};
		xmlhttp.open("GET", "num.json", true);
		xmlhttp.send();	
        data: {
            stakingAmount: '1',
            totalStaking,
            lockedIn: '5010000',
            blockRewards: '2.8'
        },
        computed: {
            staked: function () {
                return this.totalStaking - this.lockedIn;
            },
            dailyStakes: function () {
                return (this.stakingAmount/this.staked*60*24);
            },
            weeklyStakes: function () {
                return (this.dailyStakes*7);
            },
            monthlyStakes: function () {
                return (this.dailyStakes*30);
            },
            yearlyStakes: function () {
                return (this.dailyStakes*365);
            },
            dailyGains: function () {
                return (this.dailyStakes * this.blockRewards).toFixed(5);
            },
            weeklyGains: function () {
                return (this.weeklyStakes * this.blockRewards).toFixed(5);
            },
            monthlyGains: function () {
                return (this.monthlyStakes * this.blockRewards).toFixed(5);
            },
            yearlyGains: function () {
                return (this.yearlyStakes * this.blockRewards).toFixed(5);
            },
            roi: function () {
                return ((this.yearlyGains / this.stakingAmount)*100).toFixed(5)+"%";
            }
        }
    })
</script>
</html>
